# Sgorblex's Neovim config
# ~/.config/nvim/snips/gmpl.snippets


snippet mod "Standard AMPL model" b
# DECLARATIONS
${1}


# VARIABLES
var 

# CONSTRAINTS
subject to

# OBJECTIVE

# INSTANCE DATA
data;



end;
endsnippet
